@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "UMF_Master.cshtml";
}

<div class="container">
<div class="row-fluid">
    <form id="custom-search-form" class="form-search form-horizontal" method="get">
        <div class="input-append span4 offset4">
            <input type="text" class="search-query" name="search" placeholder="Search" required="required">
            <button type="submit" class="btn"><i class="icon-search"></i></button>
        </div>
    </form>
</div>
<div class="row-fluid">
    @if (!String.IsNullOrEmpty(Request["search"])) {
        @Html.Action("Search","UMFSurface", new { area = "UMF", searchTerm = Request["search"] })
    }
</div>
</div>