@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "UMF_Master.cshtml";
}

@section JavaScript {
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js" type="text/javascript"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/UMF/ckeditor/ckeditor.js")" type="text/javascript"></script>
}

<div class="container">
    @Html.Action("RenderCreateDiscussion", "UMFSurface", new { area = "UMF", parent = Request.QueryString["category"], current = Request.QueryString["discussion"] })
</div>