@* This is the discussion where the post has been added *@
@model Umbraco.Core.Models.IPublishedContent

@{
    Layout = null;
}

<h1>Neue Antwort in der Diskussion "@Model.Name"</h1>
<p>Es wurde eine neue Antwort in oben genannter Diskussion geschrieben</p>